[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git@github.com:opscode-cookbooks/python.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
[submodule "cookbooks/newrelic"]
	path = cookbooks/newrelic
	url = git@github.com:stevendgonzales/chef-newrelic.git
[submodule "cookbooks/meetme-newrelic-plugin"]
	path = cookbooks/meetme-newrelic-plugin
	url = https://github.com/stevendgonzales/chef-meetme-newrelic-plugin.git
