[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git@github.com:opscode-cookbooks/apt.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git@github.com:opscode-cookbooks/python.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
[submodule "cookbooks/newrelic"]
	path = cookbooks/newrelic
	url = git@github.com:stevendgonzales/chef-newrelic.git
[submodule "cookbooks/meetme-newrelic-plugin"]
	path = cookbooks/meetme-newrelic-plugin
	url = https://github.com/stevendgonzales/chef-meetme-newrelic-plugin.git
[submodule "cookbooks/rabbitmq"]
	path = cookbooks/rabbitmq
	url = https://github.com/opscode-cookbooks/rabbitmq.git
[submodule "cookbooks/erlang"]
	path = cookbooks/erlang
	url = https://github.com/opscode-cookbooks/erlang.git
[submodule "cookbooks/logrotate"]
	path = cookbooks/logrotate
	url = https://github.com/opscode-cookbooks/logrotate.git
[submodule "cookbooks/chef-kibana"]
	path = cookbooks/chef-kibana
	url = https://github.com/lusis/chef-kibana.git
[submodule "cookbooks/nginx"]
	path = cookbooks/nginx
	url = https://github.com/opscode-cookbooks/nginx.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai.git
